doctype html
html
	head
		title
			|#{ title } | kindle化した書籍の通知サービス - "kindlize-it"
		link(rel='stylesheet', href='/javascripts/lib/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/index.css')
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Pacifico")
		meta(name='viewport', content='width=device-width')
		-if(description)
			meta(name="description" content="#{ description }")
		-else
			meta(name="description" content="登録した書籍がkindle化されたら通知を送るサービスです。")
	body
		noscript
			iframe(src='//www.googletagmanager.com/ns.html?id=GTM-T37HW2', height='0', width='0', style='display:none;visibility:hidden')
		script.
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-T37HW2');
			
		.container-fluid
			.t-header
				.l-clr
					.l-left
						h1.m-logo
							a(href="/").ss-logo-href
								|Kindlized
					.l-right
						ul.l-clr
							li.l-left.l-mt-5.l-mr-10
								a(href="/account/login")
									|ログイン
							li.l-left
								a(href="/account/register").btn.btn-primary
									|アカウント作成
			div( ng-app='App')
				block content
	script(src='/javascripts/lib/angular/angular.js')
	script(src='/javascripts/bundle.min.js')
