extends partials/layout

block content
	div( ng-controller="account" )
		.l-clr.l-mt-10.l-mb-10
			.l-left.l-flex.ss-flex-center
				div( ng-if='isRegist' )
					|新規アカウント登録
				div( ng-if='!isRegist' )
					|ログイン

		form
			.form-group
				label
					|メールアドレス
				input.form-control( required type='email', placeholder='メールアドレス', ng-model='mail' )
			.form-group
				label
					|パスワード
				input.form-control( required type='password', placeholder='パスワード', ng-model='password' )

			div( ng-if='isRegist' )
				button( type='submit' ng-click='regist( mail, password )' ).btn.btn-default 新規登録
				div( ng-click='toggleBtn()' ).btn.btn-link
					|アカウント登録済みの方はこちら

			div( ng-if='!isRegist' )
				button( type='submit' ng-click='login( mail, password )' ).btn.btn-default ログイン
				div( ng-click='toggleBtn()' ).btn.btn-link
					|新規にアカウントを登録する方はこちら

			p( ng-if='isSending' class="l-mt-5" )
				|{{ statusMessage }}

			div( class="l-mt-50" )
				|登録した書籍がkindle化されたら通知を送るサービスです。
				div(
					class="l-mt-5 m-fz-20"
					ng-controller="intro"
				)
					|最近kindle化された書籍
					ul(
						class="l-mt-10 l-clr"
					)
						li(
							class="l-left l-mb-20 l-gutter-6 ss-gutter-1 ss-colum-img"
							ng-repeat="book in books"
						)
							a(
								href="{{book.url}}"
								class="l-db l-center l-mb-5"
								target="_blank"
							)
								img(
									ng-src="{{book.images}}"
									class="l-db l-center"
								)
								div(
									class="m-fz-12"
								)
									|{{book.title}}
